---
import { oneIDInvite } from "../../../backend/backend.mjs";
import Layout from "../../layouts/Layout.astro";
import ImagePB from "../../components/ImagePB.astro";
const invite = await oneIDInvite(Astro.params.id_invite);
---

<Layout>
  <h1>{invite.prenom + " " + invite.nom}</h1>
  <p>
    <ImagePB
      record={invite}
      field="photo"
      alt={invite.afficheAlt}
      classPicture=" col-start-1 row-start-1 col-span-2 row-span-2 group-hover:before:bg-black"
      classImg="group-hover:grayscale-0 group-hover:mix-blend-normal"
    />
  </p>
  <p><strong>Rôle:</strong> {invite.role}</p>
  <p><strong>Email:</strong>{invite.email}</p>
  <p><strong>Biographie:</strong>{invite.biographie}</p>
</Layout>
