---
import { oneIDFilm } from "../../../backend/backend.mjs";
import Layout from "../../layouts/Layout.astro";
import ImagePB from "../../components/ImagePB.astro";
import { formatDate } from "../../js/helpers";
const film = await oneIDFilm(Astro.params.id_film);
---

<Layout>
  <div class="container mx-auto p-6 bg-gray-100 rounded-lg shadow-lg">
    <!-- Titre principal -->
    <h1 class="text-4xl font-bold mb-6 text-center text-gray-800">
      {film.titre}
    </h1>

    <!-- Container flexible : en mobile, les éléments se stackent, en md+ ils sont côte à côte -->
    <div class="flex flex-col md:flex-row gap-8">
      <!-- Colonne de l'image -->
      <div class="md:w-1/2">
        <a href={`/programmation_film/${film.id}`}>
          <!-- En mobile, on utilise un container avec h-0 et pb-[56.25%] pour forcer un ratio 16:9. En md, on reprend une hauteur pleine -->
          <div class="relative w-full h-0 pb-[56.25%] md:h-full md:pb-0">
            <ImagePB
              record={film}
              field="affiche"
              alt={film.afficheAlt}
              classPicture="absolute inset-0 w-full h-full object-cover rounded-lg shadow-lg"
              classImg="w-full h-full object-cover"
            />
          </div>
        </a>
      </div>

      <!-- Colonne des détails -->
      <div
        class="md:w-1/2 flex flex-col justify-center space-y-4 text-lg text-gray-700"
      >
        <p>
          <strong class="font-semibold">Réalisateur :</strong>
          {film.realisateur}
        </p>
        <p>
          <strong class="font-semibold">Année de sortie :</strong>
          <span>{formatDate(film.annee)}</span>
        </p>
        <p>
          <strong class="font-semibold">Genre :</strong>
          {film.genre}
        </p>
        <p>
          <strong class="font-semibold">Synopsis :</strong>
          {film.synopsis}
        </p>
        <p>
          <strong class="font-semibold">Durée :</strong>
          <span set:html={film.duree} />
        </p>
        <p>
          <strong class="font-semibold">Bande annonce :</strong>
          <a
            href={film.bande_annonce}
            target="_blank"
            rel="noopener noreferrer"
            class="underline text-black hover:text-sky-600"
          >
            Voir la bande annonce
          </a>
        </p>
      </div>
    </div>
  </div>
</Layout>
