---
import ImagePB from "./ImagePB.astro";
const { ...invite } = Astro.props;
---

<article
  class="border border-gray-600 rounded-lg overflow-hidden flex flex-col w-full h-full"
>
  <!-- Zone image : prend 50% de la hauteur totale -->
  <a href={`/invite/${invite.id}`} class="md:block w-full lg:h-1/2 md:h-1/2 hidden relative">
    <ImagePB
      record={invite}
      field="photo"
      alt={invite.afficheAlt}
      classPicture="absolute inset-0 w-full h-full"
      classImg="object-cover w-full h-full"
    />
  </a>

  <!-- Zone texte : prend le reste (50%) -->
  <!-- En mobile : pb-4 (bottom), pas de padding top, gauche, droite
       En grand écran (lg+) : px-4 -->
  <div
    class="bg-lime-600/50 flex-1 flex flex-col justify-center items-center text-center
           px-2 pb-4 lg:px-4"
  >
    <h3 class="font-mono text-3xl lg:text-4xl text-black">
      <a href={`/invite/${invite.id}`} >
        {invite.nom}
        {invite.prenom}
      </a>
    </h3>
    <p class="uppercase text-base lg:text-lg pb-4">{invite.role}</p>
    <a
      href={`/invite/${invite.id}`}
      class="inline-block font-bold border-b-2 border-gray-600 uppercase text-base lg:text-lg mt-2"
    >
      Plus d'info
    </a>
  </div>
</article>
